ROOTURL={{ ROOTURL }}
CDNSERVER={{ CDNSERVER }}
CDNVERSION={{ CDNVERSION | default('1.0.0') }}
DEBUGCHECK=gg

PayIsTest=0
AppStoreIsSandbox=0

APP_ENV=local
APP_DEBUG=false
APP_KEY=FPg9LRkHTj9j14ig7ETzQhG29r5sEWNR
AdminAllowIps=0.0.0.0

DB_HOST={{ DB_HOST }}
DB_DATABASE={{ DB_DATABASE }}
DB_USERNAME={{ DB_USERNAME | default('root') }}
DB_PASSWORD={{ DB_PASSWORD }}

{% if MEMCACHED_HOST is defined %}
CACHE_DRIVER=memcached
SESSION_DRIVER=memcached
QUEUE_DRIVER=sync
CACHE_PREFIX={{ CACHE_PREFIX | default(DB_DATABASE) }}
MEMCACHED_HOST={{ MEMCACHED_HOST }}
MEMCACHED_PORT={{ MEMCACHED_PORT | default(11211) }}
{% endif %}

{% if REDIS_HOST is defined %}
CACHE_DRIVER=redis
SESSION_DRIVER=redis
QUEUE_DRIVER=sync
CACHE_PREFIX={{ CACHE_PREFIX | default(DB_DATABASE) }}
REDIS_HOST={{ REDIS_HOST }}
REDIS_PASSWORD=null
REDIS_PORT={{ MEMCACHED_PORT | default(6379) }}
{% endif %}

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
